*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    margin: 1rem;
}

div button {
    background: #1a1c1e;
    color: #f5f5f5;
    font-size: 1rem;
    border: 2px solid #606060;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    cursor: pointer;
    margin-right: 0.5rem;
}

button img {
    width: 50%;
}

.reset {
    background: #333;
    color: #f5f5f5;
    font-size: 1rem;
    border: 1px solid #606060;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    border-radius: 5px;
    height: unset;
    width: unset;
}

h2 {
    color: #f5f5f5;
    margin-block: 1rem;
}

p {
    color: #f5f5f5;
    margin-block: 2rem;
}

p img {
    height: 50px;
}